<div class="container" style="padding-bottom: 100px;">
<h3>License Request for <%= @user.firstname %></h3>

<div class="row" style="margin-top:45px;">
	<div class="col-10 offset-1">
		<%= render 'form' %>
	</div>
</div>

</div>