<div class="container">
	<div class="row">
		<div class="col-md-8">
		  <h2 class="page-header" style="padding-top: 15px;">Welcome to the ThinManager&nbsp;Portal</h2>
		</div>
		<div class="col-md-4">
			<div class="cert-plug-box">
				<h6>SignUp &amp; Certification</h6>
				<hr />
				<p>Looking for On Demand Certification Training?<br /><%= link_to "start here »", si_path %></p>
			</div>
		</div>
	</div>
  <hr />
  <p><span class="bold">The ThinManager Portal</span> is a resource portal for ThinManager partners, certified integrators, OEMs and end users to find useful documentation and information related to the purchase, install and use of ThinManager. Problems? Questions? <%= link_to "Email Us", "mailto:info@thinmanager.com" %>.</p>
  <br /><br />

<%= render 'login' %>

<div class="row" style="margin-top:50px; color:#787878;">
  <div class="col-md-6 offset-md-3">
    <p align="center">Are you a ThinManager Distributor that needs an account? Email&nbsp;us&nbsp;at&nbsp;<%= link_to "info@thinmanager.com", "mailto:info@thinmanager.com" %></p>
  </div>
</div>
</div>