<div class="container">

  <h2 class="page-header">Welcome Partners</h2>
  <hr />
  <p>The <span class="bold">ThinManger Partner Portal</span> is a resource portal for ThinManager partners to find useful documentation and information related to the purchase, install and use of ThinManager. Problems? Questions? <%= link_to "Email Us", "mailto:bharned@thinmanager.com" %>.</p>
  <br /><br />

<%= render 'login' %>

<div class="row" style="margin-top:50px; color:#787878;">
  <div class="col-md-6 offset-md-3">
    <p align="center">Are you a ThinManager partner that needs a login? Email&nbsp;us&nbsp;at&nbsp;<%= link_to "info@thinmanager.com", "mailto:info@thinmanager.com" %></p>
  </div>
</div>
</div>