<div class="flex-container admin-event-nav">
	<span style="font-size: .7em; font-style:italic;">Navigation</span>&nbsp;&nbsp;&nbsp;&nbsp;
		<%= link_to "Find Integrators", listing_integrators_path, class: "flex-button" %>
		<%= link_to "Find Distributors", listing_distributors_path, class: "flex-button" %>
</div>
<hr style="margin-bottom: 35px;" />