<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div style="width:100%; max-width: 750px; margin:auto; margin-top: 0px !important; padding-top:0px !important; font-family: 'Helvetica', san-serif;">
      <img src="https://thinmanager.com/images/email_headers/EventRegisterNoticeHeader.jpg" width="100%" alt="Thank you for registering" />


    </div>
    <p align="center">Event Registration to User</p>
    

  </body>
  </html>