<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div style="width:100%; max-width: 750px; margin:auto; margin-top: 0px !important; padding-top:0px !important; font-family: 'Helvetica', san-serif;">
      <img src="https://thinmanager.com/images/email_headers/PartnerRegisterNoticeHeader.jpg" width="100%" alt="Thank you for creating your account" />

      <div style="padding:25px;">
        <h1 align="center" style="margin-bottom:50px;">Your ThinManager Training &amp; Resource Account Has Been Created</h1>
        <p>Dear <%= @user.firstname %>,</p>

        <p>We are so pleased that you have taken the time to create your account and start the process towards learning the ThinManager<sup>&reg;</sup> software platform and getting ThinManager certified. Once certified, you will be able to access your ThinManager certificate to display or print as needed.</p>
        

        <h3 style="margin-bottom: 0px;">Portal Resources</h3>
        
        <p style="margin-top:5px;">The <%= link_to "ThinManager Portal", "https://partners.thinmanager.com", target: "_blank" %> is a great place to find documentation, presentations, and resources to help you when using or configuring ThinManager. With each new version and release of ThinManager, we strive to keep the information in the portal current and evolving.</p>

        <p>Good luck moving towards certification and getting familiar with ThinManager. If you have immediate questions, <%= link_to "contact us", "mailto:certification@thinmanager.com" %>.</p>
        
        
        <p>Thank you again!</p>
        <br />
        <h3>Tom Jordan</h3>
        <p style="margin-top: -20px;">Marketing Lead<br />
        <a href="mailto:tjordan@thinmanager.com">tjordan@thinmanager.com</a></p>
        <br /><br />
      </div>
    </div>
      
  </body>
</html>