<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div style="width:100%; max-width: 700px; margin:auto; margin-top: 0px !important; padding-top:0px !important; font-family: 'Helvetica', san-serif;">
      <img src="https://thinmanager.com/images/email_headers/demoDownloadHeader.jpg" width="100%" alt="Thank you for downloading" />


      <div style="margin-top: 45px; padding-left:25px; padding-right: 25px;">
        
        <p>Dear <%= @user.firstname %>,</p>
        
        <p>Thank you for taking the time to download ThinManager. We appreciate your interest and have several resources to get you started using ThinManager.</p>

        <p>Our free demo code is a 30 preview for setting up ThinManager. After installing ThinManager locally, or on the machine you wish to host, create a demo code online by&nbsp;going&nbsp;<%= link_to "here", "#" %> then receiving your code via email.</p>

        <p>Please see some additonal resources below.</p>
        <br />
        <hr style="opacity: .25;" />

        <h3>Resources</h3>

      </div>

    </div>
    
    

  </body>
  </html>