<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    firstname: <%= @user.firstname %><br />
    lastname: <%= @user.lastname %><br />
    email: <%= @user.email %><br />
    company: <%= @user.company %>
      
  </body>
</html>