<div class="container">


		<h1 class="page-header">TM Downloads <span style="font-size: .4em; font-style: italic; font-weight:normal;">&nbsp;( <%= pluralize(@downloads.count, "total downloads") %> )</span></h1>
	
	
	
<hr />


<br />
	
<div class="row" style="font-weight:bold;">
	<div class="col-md-2">Name</div>
	<div class="col-md-4">Company</div>
	<div class="col-md-4">Email</div>
	<div class="col-md-2">Date</div>
</div>


</div>