<%= render 'shared/errors', obj: @user %>

<div class="row">
    <div class="col-sm-10 offset-sm-1">
	    <%= form_for(@user, :url => {action: :learn_signup}, :html => {class: "form-horizontal", role: "form"}) do |f| %>



	    <% end %>
	</div>
</div>