<div class="well" style="background-color: transparent; padding-top: 0px; padding-bottom: 0;">
<div class="row" style="color:#FFFFFF; background-color: #272727; padding-top: 7px; padding-bottom: 7px; font-weight: bold; margin-bottom: 2px;">
	<div class="col-md-3">Name</div>
	<div class="col-md-2">Company</div>
	<div class="col-md-2">Type</div>
	<div class="col-md-2">Channel</div>
	<div class="col-md-2">Last Logged In</div>
	<div class="col-md-1">&nbsp;</div>
</div>
</div>