<div class="row" style="padding-left: 7px; margin-bottom: 5px; font-weight:bold;">		
	<div class="col-md-3">
		<%= link_to "Name", users_path, style: "color:inherit;", class: "dropdown-toggle" %>
	</div>
	<div class="col-md-3">
		<%= link_to "Company", user_company_sorted_path, style: "color:inherit;", class: "dropdown-toggle" %>
	</div>
	<div class="col-md-2">
		<%= link_to "Type", user_type_path, style: "color:inherit;", class: "dropdown-toggle" %>
	</div>
	<div class="col-md-2">
		
				
				Channel

			
	</div>
	<div class="col-md-2 ">
		
	</div>
</div>