<div class="row" style="padding-left: 7px; margin-bottom: 5px; font-weight:bold;">		
	<div class="col-md-3">
		<%= link_to "Name", url_for( :sort => 'lastname' ), style: "color:inherit;", class: "dropdown-toggle" %>
	</div>
	<div class="col-md-3">
		<%= link_to "Company", url_for( :sort => 'company' ), style: "color:inherit;", class: "dropdown-toggle" %>
	</div>
	<div class="col-md-2">
		<%= link_to "Type", url_for( :sort => 'prttype' ), style: "color:inherit;", class: "dropdown-toggle" %>
	</div>
	<div class="col-md-2">
		
				
				Channel

			
	</div>
	<div class="col-md-2 ">
		
	</div>
</div>