<div class="container" style="padding-bottom: 100px;">

	<div class="row">
		<div class="col-md-8">
			<h1>ThinManager Video Learning</h1>
		</div>
		<div class="col-md-4">
			<span class="right-to-not" style="font-size:.85em;">Already Have an Account? <%= link_to "Log in", root_path, style: "font-style: italic;" %></span>
		</div>
	</div>
	
<hr />

<%= render 'registerlearn' %>

</div>