<div class="container" style="padding-bottom: 100px;">

	<div class="row">
		<div class="col-md-8">
			<h1>ThinManager Video Training</h1>
		</div>
		<div class="col-md-4">
			<span class="right-to-not" style="font-size:.85em;">Already Have an Account? <%= link_to "Log in", root_path, style: "font-style: italic;" %></span>
		</div>
	</div>
	
<hr />

<p>Welcome to Video Training in the ThinManager Portal. Start by creating your account. Once created, you will br logged in and gain access to resources to help learn and use ThinManager in addition to our video learning! Fill out the form below to create an account. You can also access video learning from the main dashboard or from the Tools menu in the main navigation.  Have questions? <%= link_to "Contact Us", "mailto:certification@thinmanager.com" %></p>
<br />

<%= render 'registerlearn' %>

</div>