<div class="container" style="padding-bottom: 100px;">
	<div class="row">
		<div class="col-md-8">
			<h1>Sign Up &amp; Get Started</h1>
		</div>
		<div class="col-md-4">
			<span class="right-to-not" style="font-size:.85em;">Already Have an Account? <%= link_to "Log in", root_path, style: "font-style: italic;" %></span>
		</div>
	</div>

	<hr />

	<p>Welcome to ThinManager's self paced certification training! Once you create an account you will be able to get started with lab exercises and configuring ThinManager towards becoming certified.  Have questions? <%= link_to "Contact Us", "mailto:certification@thinmanager.com" %></p>

	<div class="row">
		<div class="col-lg-8" style="margin-bottom: 100px;">
			<%= render "register" %>
		</div>
		<div class="col-lg-4 signup-right-box">
			<div class="right-bluebox">
				<h5>Certified End Users, Channel Partners, etc. receive the following:</h5>
				<ul>
					<li>A certificate recognizing your completion of an approved ThinManager Training Course.</li>
				</ul>
				<h6>Certified System Integrator and OEM Partners receive the following benefits:</h6>
				<ul>
					<li>A certificate recognizing your completion of an approved ThinManager Training Course</li>
					<li>Access to an annual lab license (10 clients of Redundant XLr)*</li>
					<li>Access to project license (10-Pack of Redundant XLr for 90 days per project)*</li>
					<li>Technical support for a customer that is current on Software Maintenance</li>
					<li>Searchable listing on ThinManager website</li>
					<li>ThinManager Partner badge to display on your website</li>
				</ul>
				<p class="disclaimer">*Project & lab licenses include Software Maintenance which includes free version upgrades & tech support</p>
				<h6>Platinum System Integrator Opportunity</h6>
				<ul>
					<li>ThinManager Certified System Integrator Partners may obtain a Platinum designation on the thinmanager.com website. To receive "platinum" status you must submit a viable, publishable ThinManager success story. If you are interested in submitting content for platinum consideration, please submit your idea to <%= link_to "certification@thinmanager.com", "mailto:certification@thinmanager.com" %> and we will contact you to discuss next steps.</li>
				</ul>
				<!--
				<h6>ThinManager Certification Opportunities/Requirements:</h6>
				<ul>
					<li>You can attend a hands-on 8 hour complimentary training to become an Integrator Partner. This can be done at the ThinManager training facility or an alternative remote location.</li>
					OR
					<li>Certification can be obtained from on-demand labs. Download the lab exercises, configure ThinManager, and then submit the configurations for approval and certification. Simply fill out the form to register on this page</li>
				</ul>
			-->
			</div>
		</div>
	</div>
</div>