<div class="container" style="padding-bottom: 150px;">

<h1>Create Your Return on Investment</h1>
<hr />
<p class="tiny-details">** When entering cost amounts, do not enter commas or monitary signs ($), this will effect the outcome. The result of this Return on Investment calculation is completely based on the figures entered in and is to be used as a guide, not as a quote. Default values may not be accurate to locations in different areas dependant on the local costs of goods & utilities in that area. **</p>
<%= render 'roi-form' %>



</div>