<div class="container page-container">

<div class="row">
	<div class="col-md-9">
		<h1>ROI Projects</h1>
	</div>
	<div class="col-md-3">
		<div class="float-right" style="margin-top:7px;"><%= link_to "Add ROI", new_roi_path, class: "btn btn-primary" %></div>
	</div>
</div>
<hr />

<%= render 'roi-list' %>








</div>