<div class="flex-container admin-event-nav">
	<!--<span style="font-size: .7em; font-style:italic;">Admin Navigation</span>&nbsp;&nbsp;&nbsp;&nbsp;-->
		<%= link_to "All Events", event_admin_path, class: "flex-button" %>
		<%= link_to "Types", evtcategories_path, class: "flex-button" %>
		<%= link_to "Subgroups", tags_path, class: "flex-button" %>
		<%= link_to "Venues", venues_path, class: "flex-button" %>
</div>
<hr style="margin-bottom: 35px;" />