<div id="filterrific_results">

  

    <% if @events.any? %>
          
          <% @events.each do |e| %>
            
            <%= e.name %><br />

          <% end %>
          

    <% if @events.count > 10 %>
      <div class="paginate" style="margin-top:20px;">
        <%= will_paginate(@events, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
      </div>
    <% end %>


    <% else %>

      <p align="center" style="color:darkorange; margin-top:45px;">There are no results to your query</p>

    <% end %>






</div>

