<div class="col-md-4" style="margin-bottom:10px;">
	<div class="card third-card">
		<div class="card-body">
			<h5 class="card-title"><%= link_to "#{event.name}", event_path(event) %></h5>
			<p class="card-text">
				<%= event.starttime.strftime("%B %d, %Y") %>
			</p>
				<%= link_to "Learn More »", event_path(event), class: "btn btn-outline-primary btn-sm float-right"  %>
			
		</div>
		<div class="card-footer">
			<% if event.virtual %>
				Virtual Event
			<% else %>
				In-Person Event
			<% end %>
		</div>
	</div>
</div>