<div class="container" style="padding-bottom: 150px;">

	<div class="row">
		<div class="col-md-9">
			<h1>Events</h1>
		</div>
		<div class="col-md-3">
			<div class="add_currency_btn">
				<% if (current_user && current_user.admin?) || (current_user && current_user.evt_admin?) %>
					<%= link_to "Add Event", new_event_path, class: "btn btn-primary" %>
				<% end %>	
			</div>
		</div>
	</div>
	<hr />


</div>