<p>We have changed the format of how we do training roadshows. ThinManager Roadshows are now organized with your local Rockwell Distributor, in conjunction with our team, and hosted locally in your area.</p>

<p>Please reach out to your local distributor if you are intersted in attending, or even hosting a cloud-based roadhsow event. If you do not know who your local distributor might be, look through the <%= link_to "Distributor Finder", "https://thinmanager.com/partners/var-world.php" %> on our site.</p>

<p>If you are a Rockwell Distributor interested in hosting a cloud-based Roadshow in 2024, please visit the <%= link_to "request page", "https://thinmanager.com/roadshow/request" %> to learn the details and request to host.</p>