<div class="container">
	<h1 class="page-header">Welcome</h1>
	<hr />
	
	<div class="row">
		
		<div class="col">
			<div class="well well-sm">
				Column 1
			</div>
		</div>
		<div class="col">Column 2</div>
	</div>



	<br /><br /><br />

</div>