<div class="container" style="padding-bottom: 150px;">
<div class="row">
	<div class="col-md-8">
		<h1>Flex Forward</h1>
	</div>
	<div class="col-md-4 ff-top-logo">
		<%= image_tag "ff-logo.png" %>
	</div>
</div>
<hr />

<p>Flex Forward is an elective commercial initiative that provides customers a path forward to the V-FLEX licensing model from legacy 5/10/25-pack, Enterprise Server, and Enterprise Site licensing models.</p> 

<p>In order to execute the program, the following information will be important to understand:</p>
<ul style="margin-top: -15px; margin-bottom: 20px;">
	<li>Which locations/sites are interested in participating in the program</li>
	<li>Existing licensing at each site including Product License numbers</li>
	<li>Number of desired terminals at each site (for Enterprise Site/Server customers)</li>
	<li>Support status of each license (current, or what date expired)</li>
</ul>

<p>Once this information is collected, your ThinManager Strategic Account Manager can assist with generating a quote. 
To identify your representative, please visit <%= link_to "https://thinmanager.com/corp/contactus.php", "https://thinmanager.com/corp/contactus.php", target: "_blank" %>.</p>


<form id="ff-form">
<table class="table table-bordered table-sm" id="flex-forward-table" width="100%">
	<div class="form-group">
		<tr style="background-color: #d1d1d1;">
			<th scope="col" colspan="2">License Count</th>
			<th scope="col">Existing Server</th>
			<th scope="col">Existing Site</th>
			<th scope="col">Simplex Pack</th>
			<th scope="col">Redundant Pack</th>
			<th colspan="3" style="border-right: 0px; border-left: 0px; border-color: #d1d1d1;">&nbsp;</th>
		</tr>
		<tr>
	      	<td scope="row" colspan="2" style="font-weight:bold;"># of Licenses in Support</td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="1" id="field1" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="2" id="field2" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="3" id="field3" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="4" id="field4" placeholder="0"></td>
	      	<td colspan="3" style="border-right: 0px; border-left: 0px; background-color: #d1d1d1; border-color: #d1d1d1;">&nbsp;</td>
	    </tr>

	    <tr>
	      	<td scope="row" colspan="2" style="font-weight:bold;"># of Licenses Out of Support</td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="5" id="field5" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="6" id="field6" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="7" id="field7" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="8" id="field8" placeholder="0"></td>
	      	<td colspan="3" style="border-right: 0px; border-left: 0px; background-color: #d1d1d1; border-color: #d1d1d1;">&nbsp;</td>
	    </tr>

	    <tr>
	      	<td scope="row" colspan="2" style="font-weight:bold;"># of years Expired</td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="9" id="field9" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="10" id="field10" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="11" id="field11" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="12" id="field12" placeholder="0"></td>
	      	<td colspan="3" style="border-right: 0px; border-left: 0px; background-color: #d1d1d1; border-color: #d1d1d1;">&nbsp;</td>
	    </tr>
	    <tr><td colspan="9" style="border-right-color:#FFFFFF; border-left-color:#FFFFFF;">&nbsp;</td></tr>
	</div>

	<div class="form-group">    
	    <tr style="background-color: #d1d1d1;">
			<th scope="col" colspan="2">&nbsp;</th>
			<th scope="col">Trade for Server</th>
			<th scope="col">Trade for Site</th>
			<th scope="col">Trade for Pack</th>
			<th scope="col">Trade for R Pack</th>
			<th scope="col">New Simplex</th>
			<th scope="col">New Redundant</th>
			<th scope="col">TOTAL</th>
		</tr>

		<tr>
	      	<td scope="row" colspan="2" style="font-weight:bold;">Total Redundant V-FLEX Terminals Required:</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	    </tr>

	    <tr>
	      	<td colspan="2">Special Band Trade-Up Pricing:</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	    </tr>

	    <tr>
	      	<td colspan="2">Total Credit for All Licenses:</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	    </tr>
	    <tr style="border-left-color: #FFFFFF !important;"><td colspan="2" style="border-right-color:#FFFFFF; border-left-color:#FFFFFF; border-bottom-color: #FFFFFF;">&nbsp;</td><td colspan="7" style="border-right-color:#FFFFFF; border-left-color:#FFFFFF;"></td></tr>
	</div>

	<div class="form-group"> 
		<tr>
			<td colspan="2" style="border-left-color: #FFFFFF; border-bottom-color: #FFFFFF; border-top-color: #FFFFFF;">&nbsp;</td>
			<td colspan="6">Cost to Trade-Up:</td>
			<td style="text-align: right;">$1,000,000</td>
		</tr>

		<tr>
			<td colspan="2" style="border-left-color: #FFFFFF; border-bottom-color: #FFFFFF; border-top-color: #FFFFFF;">&nbsp;</td>
			<td colspan="6">Maintenance  Due:</td>
			<td style="text-align: right;">$200,000</td>
		</tr>

		<tr style="font-weight: bold;">
			<td colspan="2" style="border-left-color: #FFFFFF; border-bottom-color: #FFFFFF; border-top-color: #FFFFFF;">&nbsp;</td>
			<td colspan="6" style="text-align: right; background-color:lightgreen;">Terminal Connection Count:&nbsp;</td>
			<td style="background-color:lightgreen; text-align: right;">2,080</td>
		</tr>

		<tr style="font-weight: bold;">
			<td colspan="2" style="border-left-color: #FFFFFF; border-bottom-color: #FFFFFF; border-top-color: #FFFFFF;">&nbsp;</td>
			<td colspan="6" style="text-align: right; background-color:lightgreen;">Software Maintenance Expiration Date on Renewal:&nbsp;</td>
			<td style="background-color:lightgreen; text-align: right;">03/17/2021</td>
		</tr>

		<tr style="font-weight: bold;">
			<td colspan="2" style="border-left-color: #FFFFFF; border-bottom-color: #FFFFFF; border-top-color: #FFFFFF;">&nbsp;</td>
			<td colspan="6" style="text-align: right; background-color:lightgreen;">Total Quote:&nbsp;</td>
			<td style="background-color:lightgreen; text-align: right;">$420,000</td>
		</tr>
		<tr><td colspan="9" style="border-right-color:#FFFFFF; border-left-color:#FFFFFF; border-bottom-color: #FFFFFF;">&nbsp;</td></tr>
		<tr style="border-color: #FFFFFF;">
			<td colspan="6" style="border-color: #FFFFFF;"></td>
			<td colspan="3" style="text-align: right; border-color: #FFFFFF;">
				<button class="btn btn-secondary" id="reset">Reset</button>&nbsp;&nbsp;
				<button class="btn btn-primary" id="print">Print</button>
			</td>
		</tr>
	</div>	
</table>
</form>
<br /><br />
<div class="range-display1"></div><br />
<div class="range-display2"></div><br />
<div class="range-display3"></div><br />
<div class="range-display4"></div><br />
<div class="range-display5"></div>




</div>



<script>
	(function(){

		"use strict";

		
		$('input').on('change', function() {
			// calculations function call here

			function range(start, end) {
			    var ans = [];
			    for (let i = start; i <= end; i++) {
			        ans.push(i);
			    }
			    return ans;
			}

			var terminalCountRange1 = range(1,4);
			var terminalCountRange2 = range(5,49);
			var terminalCountRange3 = range(50,99);
			var terminalCountRange4 = range(100,249);
			var terminalCountRange5 = range(250,499);
			var terminalCountRange6 = range(500,100000);

			var field1 = $("#field1").val();
			var field2 = $("#field2").val();
			// var field3;
			// var field4;
			// var field5;
			// var field6;
			// var field7;
			// var field8;
			// var field9;
			// var field10;
			// var field11;
			// var field12;


			var h;
			for (h=0; h < terminalCountRange1.length; h++) {
				$(".range-display1").append(terminalCountRange1[h] + " ");
			}

			var i;
			for (i=0; i < terminalCountRange2.length; i++) {
				$(".range-display2").append(terminalCountRange2[i] + " ");
			}

			var j;
			for (j=0; j < terminalCountRange3.length; j++) {
				$(".range-display3").append(terminalCountRange3[j] + " ");
			}
			
			

				

		})

	})();
</script>



