<div class="container" style="padding-bottom: 150px;">

<h1>Flex Forward</h1>
<hr />

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu bibendum at varius vel pharetra. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Odio morbi quis commodo odio aenean sed adipiscing diam. Urna porttitor rhoncus dolor purus non enim praesent elementum facilisis. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus a. Tellus in hac habitasse platea.</p> 

<p>Viverra accumsan in nisl nisi scelerisque eu ultrices. Placerat orci nulla pellentesque dignissim. Sit amet purus gravida quis blandit turpis. Et netus et malesuada fames ac turpis egestas integer eget. Sed faucibus turpis in eu mi bibendum. Eget mi proin sed libero enim sed faucibus. Mauris a diam maecenas sed. Orci nulla pellentesque dignissim enim sit amet venenatis urna.</p>

<form>
<table class="table table-bordered table-sm" id="flex-forward-table" width="100%">
	<div class="form-group">
		<tr style="background-color: #d1d1d1;">
			<th scope="col" colspan="2">License Count</th>
			<th scope="col">Existing Server</th>
			<th scope="col">Existing Site</th>
			<th scope="col">Simplex Pack</th>
			<th scope="col">Redundant Pack</th>
			<th style="border-right: 0px; border-left: 0px;">&nbsp;</th>
			<th style="border-right: 0px; border-left: 0px;">&nbsp;</th>
			<th style="border-right: 0px; border-left: 0px;">&nbsp;</th>
		</tr>
		<tr>
	      	<td scope="row" colspan="2" style="font-weight:bold;"># of Licenses in Support</td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field1"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field2"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field3"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field4"></td>
	      	<td style="border-right: 0px; border-left: 0px; background-color: #d1d1d1;">&nbsp;</td>
	      	<td style="border-right: 0px; border-left: 0px; background-color: #d1d1d1;">&nbsp;</td>
	      	<td style="border-right: 0px; border-left: 0px; background-color: #d1d1d1;">&nbsp;</td>
	    </tr>

	    <tr>
	      	<td scope="row" colspan="2" style="font-weight:bold;"># of Licenses Out of Support</td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field5"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field6"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field7"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field8"></td>
	      	<td style="border-right: 0px; border-left: 0px; background-color: #d1d1d1;">&nbsp;</td>
	      	<td style="border-right: 0px; border-left: 0px; background-color: #d1d1d1;">&nbsp;</td>
	      	<td style="border-right: 0px; border-left: 0px; background-color: #d1d1d1;">&nbsp;</td>
	    </tr>

	    <tr>
	      	<td scope="row" colspan="2" style="font-weight:bold;"># of years Expired</td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field9"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field10"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field11"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field12"></td>
	      	<td style="border-right: 0px; border-left: 0px; background-color: #d1d1d1;">&nbsp;</td>
	      	<td style="border-right: 0px; border-left: 0px; background-color: #d1d1d1;">&nbsp;</td>
	      	<td style="border-right: 0px; border-left: 0px; background-color: #d1d1d1;">&nbsp;</td>
	    </tr>
	    <tr><td colspan="9" style="border-right:none; border-left:none;">&nbsp;</td></tr>
	</div>

	<div class="form-group">    
	    <tr style="background-color: #d1d1d1;">
			<th scope="col" colspan="2">&nbsp;</th>
			<th scope="col">Trade for Server</th>
			<th scope="col">Trade for Site</th>
			<th scope="col">Trade for Pack</th>
			<th scope="col">Trade for R Pack</th>
			<th scope="col">New Simplex</th>
			<th scope="col">New Redundant</th>
			<th scope="col">TOTAL</th>
		</tr>

		<tr>
	      	<td scope="row" colspan="2" style="font-weight:bold;">Total Redundant V-FLEX Terminals Required:</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	    </tr>

	    <tr>
	      	<td colspan="2">Special Band Trade-Up Pricing:</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	    </tr>

	    <tr>
	      	<td colspan="2">Total Credit for All Licenses:</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	    </tr>

	</div>	
</table>
</form>
</div>



<script>
	(function(){

		"use strict";

		$("#field1").val(16);

		




		$('input').on('change', function() {
			// calculations function call here
		})

	})();
</script>



