<style>
@media print and (min-width:100px) {.ra-top-bar, .ff-instructions, #footer, #disclaimer, #control-buttons {display:none !important;}}
</style>
<div class="container" style="padding-bottom: 150px;">
<div class="row">
	<div class="col-md-8">
		<h1>Flex Forward</h1>
	</div>
	<div class="col-md-4 ff-top-logo">
		<%= image_tag "ff-logo.png" %>
	</div>
</div>
<hr />
<div class="ff-instructions">
<p>Flex Forward is an elective commercial initiative that provides customers a path forward to the V-FLEX licensing model from legacy 5/10/25-pack, Enterprise Server, and Enterprise Site licensing models.</p> 

<p>In order to execute the program, the following information will be important to understand:</p>
<ul style="margin-top: -15px; margin-bottom: 20px;">
	<li>Which locations/sites are interested in participating in the program</li>
	<li>Existing licensing at each site including Product License numbers</li>
	<li>Number of desired terminals at each site (for Enterprise Site/Server customers)</li>
	<li>Support status of each license (current, or what date expired)</li>
</ul>

<p>All prices are in <span style="font-weight:bold;">US Dollars</span>.</p>
<p>Once this information is collected, your ThinManager Strategic Account Manager can assist with generating a quote. 
To identify your representative, please visit <%= link_to "https://thinmanager.com/corp/contactus.php", "https://thinmanager.com/corp/contactus.php", target: "_blank" %>.</p>
</div>

<form id="ff-form">
<table class="table table-bordered table-sm" id="flex-forward-table" width="100%">
	<div class="form-group">
		<tr style="background-color: #d1d1d1;">
			<th scope="col" colspan="2">License Count</th>
			<th scope="col">Existing Server</th>
			<th scope="col">Existing Site</th>
			<th scope="col">Simplex Pack</th>
			<th scope="col">Redundant Pack</th>
			<th colspan="3" style="border-right: 0px; border-left: 0px; border-color: #d1d1d1;">&nbsp;</th>
		</tr>
		<tr>
	      	<td scope="row" colspan="2" style="font-weight:bold;"># of Licenses in Support</td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="1" id="field1" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="2" id="field2" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="3" id="field3" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="4" id="field4" placeholder="0"></td>
	      	<td colspan="3" style="border-right: 0px; border-left: 0px; background-color: #d1d1d1; border-color: #d1d1d1;">&nbsp;</td>
	    </tr>

	    <tr>
	      	<td scope="row" colspan="2" style="font-weight:bold;"># of Licenses Out of Support</td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="5" id="field5" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="6" id="field6" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="7" id="field7" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="8" id="field8" placeholder="0"></td>
	      	<td colspan="3" style="border-right: 0px; border-left: 0px; background-color: #d1d1d1; border-color: #d1d1d1;">&nbsp;</td>
	    </tr>

	    <tr>
	      	<td scope="row" colspan="2" style="font-weight:bold;"># of years Expired</td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="9" id="field9" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="10" id="field10" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="11" id="field11" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="12" id="field12" placeholder="0"></td>
	      	<td colspan="3" style="border-right: 0px; border-left: 0px; background-color: #d1d1d1; border-color: #d1d1d1;">&nbsp;</td>
	    </tr>
	    <tr><td colspan="9" style="border-right-color:#FFFFFF; border-left-color:#FFFFFF;">&nbsp;</td></tr>
	</div>

	<div class="form-group">    
	    <tr style="background-color: #d1d1d1;">
			<th scope="col" colspan="2">&nbsp;</th>
			<th scope="col">Trade for Server</th>
			<th scope="col">Trade for Site</th>
			<th scope="col">Trade for Pack</th>
			<th scope="col">Trade for R Pack</th>
			<th scope="col">New Simplex</th>
			<th scope="col">New Redundant</th>
			<th scope="col" style="text-align: center;">TOTAL</th>
		</tr>

		<tr>
	      	<td scope="row" colspan="2" style="font-weight:bold;">Total Redundant V-FLEX Terminals Required:</td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="13" id="field13" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="14" id="field14" placeholder="0"></td>
	      	<td id="field15"></td>
	      	<td id="field16"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="15" id="field17" placeholder="0"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="16" id="field18" placeholder="0"></td>
	      	<td id="field19" style="text-align: right;"></td>
	    </tr>

	    <tr>
	      	<td colspan="2">Special Band Trade-Up Pricing:</td>
	      	<td id="field20"></td>
	      	<td id="field21"></td>
	      	<td id="field22"></td>
	      	<td id="field23"></td>
	      	<td id="field24"></td>
	      	<td id="field25"></td>
	      	<td id="field26" style="text-align: right;"></td>
	    </tr>

	    <tr>
	      	<td colspan="2">Total Credit for All Licenses:</td>
	      	<td id="field27"></td>
	      	<td id="field28"></td>
	      	<td id="field29"></td>
	      	<td id="field30"></td>
	      	<td id="field31"></td>
	      	<td id="field32"></td>
	      	<td id="field33" style="text-align: right;"></td>
	    </tr>
	    <tr style="border-left-color: #FFFFFF !important;"><td colspan="2" style="border-right-color:#FFFFFF; border-left-color:#FFFFFF; border-bottom-color: #FFFFFF;">&nbsp;</td><td colspan="7" style="border-right-color:#FFFFFF; border-left-color:#FFFFFF;"></td></tr>
	</div>

	<div class="form-group"> 
		<tr>
			<td colspan="2" style="border-left-color: #FFFFFF; border-bottom-color: #FFFFFF; border-top-color: #FFFFFF;">&nbsp;</td>
			<td colspan="6">Cost to Trade-Up:</td>
			<td id="field34" style="text-align: right;">0</td>
		</tr>

		<tr>
			<td colspan="2" style="border-left-color: #FFFFFF; border-bottom-color: #FFFFFF; border-top-color: #FFFFFF;">&nbsp;</td>
			<td colspan="6">Maintenance  Due:</td>
			<td id="field35" style="text-align: right;">0</td>
		</tr>

		<tr style="font-weight: bold;">
			<td colspan="2" style="border-left-color: #FFFFFF; border-bottom-color: #FFFFFF; border-top-color: #FFFFFF;">&nbsp;</td>
			<td colspan="6" style="text-align: right; background-color:lightgreen;">Terminal Connection Count:&nbsp;</td>
			<td id="field36" style="background-color:lightgreen; text-align: right;">0</td>
		</tr>

		<tr style="font-weight: bold;">
			<td colspan="2" style="border-left-color: #FFFFFF; border-bottom-color: #FFFFFF; border-top-color: #FFFFFF;">&nbsp;</td>
			<td colspan="6" style="text-align: right; background-color:lightgreen;">Software Maintenance Expiration Date on Renewal:&nbsp;</td>
			<td id="field37" style="background-color:lightgreen; text-align: right;"></td>
		</tr>

		<tr style="font-weight: bold;">
			<td colspan="2" style="border-left-color: #FFFFFF; border-bottom-color: #FFFFFF; border-top-color: #FFFFFF;">&nbsp;</td>
			<td colspan="6" style="text-align: right; background-color:lightgreen;">Total Quote:&nbsp;</td>
			<td id="field38" style="background-color:lightgreen; text-align: right;">0</td>
		</tr>
		<tr><td colspan="9" style="border-right-color:#FFFFFF; border-left-color:#FFFFFF; border-bottom-color: #FFFFFF;">&nbsp;</td></tr>
		<tr class="control-buttons" style="border-color: #FFFFFF;">
			<td colspan="6" style="border-color: #FFFFFF;"></td>
			<td colspan="3" style="text-align: right; border-color: #FFFFFF;">
				<button class="btn btn-secondary" tabindex="17" id="reset">Reset</button>&nbsp;&nbsp;
				<button class="btn btn-primary" tabindex="18" id="print">Print</button>
			</td>
		</tr>
	</div>	
</table>
</form>
<br /><br />
<div class="range-display1"></div><br />
<div class="range-display2"></div><br />
<div class="range-display3"></div><br />
<div class="range-display4"></div><br />
<div class="range-display5"></div>




</div>



<script>
	(function(){

		$('body').on('keydown', 'input, select', function(e) {
		    if (e.key === "Enter") {
		        var self = $(this), form = self.parents('form:eq(0)'), focusable, next;
		        focusable = form.find('input,a,select,button,textarea').filter(':visible');
		        next = focusable.eq(focusable.index(this)+1);
		        if (next.length) {
		            next.focus();
		        } else {
		            form.submit();
		        }
		        return false;
		    }
		});

		"use strict";

		// quote expiration date
		var expDate = new Date();
		var dd = String(expDate.getDate()).padStart(2, '0');
		var mm = String(expDate.getMonth() + 1).padStart(2, '0'); //January is 0!
		var yyyy = expDate.getFullYear() + 1;
		expDate = mm + '/' + dd + '/' + yyyy;
		$('#field37').text(expDate);
		

		$('input').on('change', function() {
			
			//V-Flex Prices
			var vfRedPrices = [3400, 1870, 1700, 1360, 1190, 1020];
			var smrPrices = [400, 220, 200, 160, 140, 120];
			var vfNonRedPrices = [2400, 1320, 1200, 960, 840, 720];

			var field1 = $("#field1").val();
			var field2 = $("#field2").val();
			var field3 = $("#field3").val();
			var field4 = $("#field4").val();
			var field5 = $("#field5").val();
			var field6 = $("#field6").val();
			var field7 = $("#field7").val();
			var field8 = $("#field8").val();
			var field9 = $("#field9").val();
			var field10 = $("#field10").val();
			var field11 = $("#field11").val();
			var field12 = $("#field12").val();
			var field13 = $("#field13").val();
			var field14 = $("#field14").val();
			var field17 = $("#field17").val();
			var field18 = $("#field18").val();

			field1 = Number(field1);
			field2 = Number(field2);
			field3 = Number(field3);
			field4 = Number(field4);
			field5 = Number(field5);
			field6 = Number(field6);
			field7 = Number(field7);
			field8 = Number(field8);
			field9 = Number(field9);
			field10 = Number(field10);
			field11 = Number(field11);
			field12 = Number(field12);
			field13 = Number(field13);
			field14 = Number(field14);
			field17 = Number(field17);
			field18 = Number(field18);


			function currencyFormat(num) {
			  return '$' + num.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
			}

			var field15 = field3 + field7;
			var field16 = field4 + field8; 

			var field20 = 600 * field13;
			//currency here?
			$("#field20").text('$'+field20);
			

			var field21 = 600 * field14;
			//currency here?
			$("#field21").text('$'+field21);
			
			

			var totalTerms = Number(field13) + Number(field14) + Number(field15) + Number(field16) + Number(field17) + Number(field18);
			
			$("#field15").text(field15);
			$("#field16").text(field16);
			$("#field19").text(totalTerms);
			if (totalTerms >= 0) {
				$("#field36").text(totalTerms);
			}

			function findRange(terminalCount) {
				var terminalRange;
				if (terminalCount >= 0 && terminalCount < 5) {
					var terminalRange = 0;	
				} else if (terminalCount >=5 && terminalCount < 50) {
					var terminalRange = 1;
				} else if (terminalCount >=50 && terminalCount < 100) {
					var terminalRange = 2;
				} else if (terminalCount >=100 && terminalCount < 250) {
					var terminalRange = 3;
				} else if (terminalCount >=250 && terminalCount < 500) {
					var terminalRange = 4;
				} else if (terminalCount >=500) {
					var terminalRange = 5;
				}
				return terminalRange;
			}
			
			var currentRange = findRange(totalTerms);
			var tradePackRange = findRange(field15);
			var tradeRPackRange = findRange(field16);

			var simplexPricePer = vfNonRedPrices[currentRange];
			var redundPricePer = vfRedPrices[currentRange];
			var tradeSimplexPricePer = vfNonRedPrices[tradePackRange];
			var tradeRedPricePer = vfRedPrices[tradeRPackRange];

			var totalNewSimplexCost = simplexPricePer * field17;
			var field24 = totalNewSimplexCost;
			if (field24 > 0) {
				//currency here?
				$("#field24").text("$"+field24);
			} else {
				$("#field24").text("$"+0);
			}
			
			var totalNewRedCost = redundPricePer * field18;
			var field25 = totalNewRedCost;
			if (field25 > 0) {
				//currency here?
				$("#field25").text("$"+field25);
			} else {
				$("#field25").text("$"+0);
			}

			var totalTradeSimplex = tradeSimplexPricePer * field15;
			var totalTradeRed = tradeRedPricePer * field16;

			if (totalTradeSimplex > 0) {
				var field22 = totalTradeSimplex;
			} else {
				var field22 = 0;
			};
			//currency here?
			$("#field22").text("$"+field22);
			

			if (totalTradeRed > 0) {
				var field23 = totalTradeRed;
			} else {
				var field23 = 0;
			};
			//currency here?
			$("#field23").text("$"+field23);

			var totalTradeUpPricing = field20 + field21 + field22 + field23 + field24 + field25;

			var field26 = totalTradeUpPricing;
			if (field26 > 0) {
				//currency here?
				$("#field26").text("$"+field26);
			} else {
				$("#field26").text("$"+0);
			};
			
			
			// Credit Calculations *****************************************

			var field27;
			var field28;
			var field29;
			var field30;
			var field31;
			var field32;
			var field33;
			var field34;
			var field35;
			var field38;


			var creditForServerLicensesWithSupport = 61150 * field1;
			var creditForServerLicensesNoSupport = (1-(0.2*field9))*(field5*61150);
			var totalCreditsServer = creditForServerLicensesWithSupport + creditForServerLicensesNoSupport // No negative
			if (totalCreditsServer < 0) {
				totalCreditsServer = 0;
			};

			if (totalCreditsServer > field20) {
				$("#field27").text("$"+field20);
				field27 = field20;
			} else {
				//currency here?
				$("#field27").text("$"+totalCreditsServer);
				field27 = totalCreditsServer;
			};
			

			var creditForSiteLicensesWithSupport = 134000 * field2;
			var creditForSiteLicensesNoSupport = (1-(0.2*field10))*(field6*134000);
			var totalCreditsSite = creditForSiteLicensesWithSupport + creditForSiteLicensesNoSupport // No negative
			if (totalCreditsSite < 0) {
				totalCreditsSite = 0;
			};

			if (totalCreditsSite > field21) {
				$("#field28").text("$"+field21);
				field28 = field21;
			} else {
				//var totalCreditsSiteCurrency = currencyFormat(totalCreditsSite);
				$("#field28").text("$"+totalCreditsSite);
				field28 = totalCreditsSite;
			};


			var creditForPackLicensesWithSupport = field3 * tradeSimplexPricePer;
			var creditForPackLicensesNoSupport = (1-(0.2*field11))*(field7*tradeSimplexPricePer);
			var totalCreditsPack = creditForPackLicensesWithSupport + creditForPackLicensesNoSupport; // No negative
			if (totalCreditsPack < 0) {
				totalCreditsPack = 0;
			};

			if (totalCreditsPack > field22) {
				$("#field29").text("$"+field22);
				field29 = field22;
			} else {
				$("#field29").text("$"+totalCreditsPack);
				field29 = totalCreditsPack;
			};
			

			var creditForRPackLicensesWithSupport = field4 * tradeRedPricePer;
			var creditForRPackLicensesNoSupport = (1-(0.2*field12))*(field8*tradeRedPricePer);
			var totalCreditsRPack = creditForRPackLicensesWithSupport + creditForRPackLicensesNoSupport; // No negative
			if (totalCreditsRPack < 0) {
				totalCreditsRPack = 0;
			}

			if (totalCreditsRPack > field23) {
				$("#field30").text("$"+field23);
				field30 = field23;
			} else {
				//currency here?
				$("#field30").text("$"+totalCreditsRPack);
				field30 = totalCreditsRPack;
			};
			
			field33 = field27 + field28 + field29 + field30;
			if (field33 > 0) {
				$("#field33").text("$"+field33);
			} else {
				$("#field33").text("$"+0);
			};

			field34 = field26 - field33;
			var field34b = currencyFormat(field34);
			$("#field34").text(field34b);

			var termsForSM = field13 + field14 + field15 + field16;
			var SMRange = findRange(termsForSM);
			var smPricePer = smrPrices[SMRange];
			field35 = smPricePer * termsForSM;
			var field35b = currencyFormat(field35);
			$("#field35").text(field35b);


			field38 = field34 + field35;
			var field38b = currencyFormat(field38);
			$("#field38").text(field38b);
		});



		$("#reset").click(function() {
			refresh();
		});


		$("#print").click(function() {
			print();
			return false;
		});

	})();
</script>



