<div class="container" style="padding-bottom: 150px;">
<div class="row">
	<div class="col-md-8">
		<h1>Flex Forward</h1>
	</div>
	<div class="col-md-4 ff-top-logo">
		<%= image_tag "ff-logo.png" %>
	</div>
</div>
<hr />

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu bibendum at varius vel pharetra. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. Odio morbi quis commodo odio aenean sed adipiscing diam. Urna porttitor rhoncus dolor purus non enim praesent elementum facilisis. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus a. Tellus in hac habitasse platea.</p> 

<p>Viverra accumsan in nisl nisi scelerisque eu ultrices. Placerat orci nulla pellentesque dignissim. Sit amet purus gravida quis blandit turpis. Et netus et malesuada fames ac turpis egestas integer eget. Sed faucibus turpis in eu mi bibendum. Eget mi proin sed libero enim sed faucibus. Mauris a diam maecenas sed. Orci nulla pellentesque dignissim enim sit amet venenatis urna.</p>

<form>
<table class="table table-bordered table-sm" id="flex-forward-table" width="100%">
	<div class="form-group">
		<tr style="background-color: #d1d1d1;">
			<th scope="col" colspan="2">License Count</th>
			<th scope="col">Existing Server</th>
			<th scope="col">Existing Site</th>
			<th scope="col">Simplex Pack</th>
			<th scope="col">Redundant Pack</th>
			<th colspan="3" style="border-right: 0px; border-left: 0px; border-color: #d1d1d1;">&nbsp;</th>
		</tr>
		<tr>
	      	<td scope="row" colspan="2" style="font-weight:bold;"># of Licenses in Support</td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" tabindex="1" id="field1"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field2"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field3"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field4"></td>
	      	<td colspan="3" style="border-right: 0px; border-left: 0px; background-color: #d1d1d1; border-color: #d1d1d1;">&nbsp;</td>
	    </tr>

	    <tr>
	      	<td scope="row" colspan="2" style="font-weight:bold;"># of Licenses Out of Support</td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field5"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field6"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field7"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field8"></td>
	      	<td colspan="3" style="border-right: 0px; border-left: 0px; background-color: #d1d1d1; border-color: #d1d1d1;">&nbsp;</td>
	    </tr>

	    <tr>
	      	<td scope="row" colspan="2" style="font-weight:bold;"># of years Expired</td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field9"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field10"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field11"></td>
	      	<td><input class="form-control form-control-sm" type="text" size="2" id="field12"></td>
	      	<td colspan="3" style="border-right: 0px; border-left: 0px; background-color: #d1d1d1; border-color: #d1d1d1;">&nbsp;</td>
	    </tr>
	    <tr><td colspan="9" style="border-right-color:#FFFFFF; border-left-color:#FFFFFF;">&nbsp;</td></tr>
	</div>

	<div class="form-group">    
	    <tr style="background-color: #d1d1d1;">
			<th scope="col" colspan="2">&nbsp;</th>
			<th scope="col">Trade for Server</th>
			<th scope="col">Trade for Site</th>
			<th scope="col">Trade for Pack</th>
			<th scope="col">Trade for R Pack</th>
			<th scope="col">New Simplex</th>
			<th scope="col">New Redundant</th>
			<th scope="col">TOTAL</th>
		</tr>

		<tr>
	      	<td scope="row" colspan="2" style="font-weight:bold;">Total Redundant V-FLEX Terminals Required:</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	    </tr>

	    <tr>
	      	<td colspan="2">Special Band Trade-Up Pricing:</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	    </tr>

	    <tr>
	      	<td colspan="2">Total Credit for All Licenses:</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	      	<td>&nbsp;</td>
	    </tr>
	    <tr style="border-left-color: #FFFFFF !important;"><td colspan="2" style="border-right-color:#FFFFFF; border-left-color:#FFFFFF; border-bottom-color: #FFFFFF;">&nbsp;</td><td colspan="7" style="border-right-color:#FFFFFF; border-left-color:#FFFFFF;"></td></tr>
	</div>

	<div class="form-group"> 
		<tr>
			<td colspan="2" style="border-left-color: #FFFFFF; border-bottom-color: #FFFFFF; border-top-color: #FFFFFF;">&nbsp;</td>
			<td colspan="6">Cost to Trade-Up:</td>
			<td style="text-align: right;">$1,000,000</td>
		</tr>

		<tr>
			<td colspan="2" style="border-left-color: #FFFFFF; border-bottom-color: #FFFFFF; border-top-color: #FFFFFF;">&nbsp;</td>
			<td colspan="6">Maintenance  Due:</td>
			<td style="text-align: right;">$200,000</td>
		</tr>

		<tr style="font-weight: bold;">
			<td colspan="2" style="border-left-color: #FFFFFF; border-bottom-color: #FFFFFF; border-top-color: #FFFFFF;">&nbsp;</td>
			<td colspan="6" style="text-align: right; background-color:lightgreen;">Terminal Connection Count:&nbsp;</td>
			<td style="background-color:lightgreen; text-align: right;">2,080</td>
		</tr>

		<tr style="font-weight: bold;">
			<td colspan="2" style="border-left-color: #FFFFFF; border-bottom-color: #FFFFFF; border-top-color: #FFFFFF;">&nbsp;</td>
			<td colspan="6" style="text-align: right; background-color:lightgreen;">Software Maintenance Expiration Date on Renewal:&nbsp;</td>
			<td style="background-color:lightgreen; text-align: right;">03/17/2021</td>
		</tr>

		<tr style="font-weight: bold;">
			<td colspan="2" style="border-left-color: #FFFFFF; border-bottom-color: #FFFFFF; border-top-color: #FFFFFF;">&nbsp;</td>
			<td colspan="6" style="text-align: right; background-color:lightgreen;">Total Quote:&nbsp;</td>
			<td style="background-color:lightgreen; text-align: right;">$420,000</td>
		</tr>
		<tr><td colspan="9" style="border-right-color:#FFFFFF; border-left-color:#FFFFFF; border-bottom-color: #FFFFFF;">&nbsp;</td></tr>
		<tr style="border-color: #FFFFFF;">
			<td colspan="6" style="border-color: #FFFFFF;"></td>
			<td colspan="3" style="text-align: right; border-color: #FFFFFF;">
				<button class="btn btn-secondary" id="reset">Reset</button>&nbsp;&nbsp;
				<button class="btn btn-primary" id="print">Print</button>
			</td>
		</tr>
	</div>	
</table>
</form>
</div>



<script>
	(function(){

		"use strict";

		var field1 = 0;
		var field2 = 0;
		var field3 = 0;
		var field4 = 0;
		var field5 = 0;
		var field6 = 0;
		var field7 = 0;
		var field8 = 0;
		var field9 = 0;
		var field10 = 0;
		var field11 = 0;
		var field12 = 0;
		$("#field1").val(field1);
		$("#field2").val(field2);
		$("#field3").val(field3);
		$("#field4").val(field4);
		$("#field5").val(field5);
		$("#field6").val(field6);
		$("#field7").val(field7);
		$("#field8").val(field8);
		$("#field9").val(field9);
		$("#field10").val(field10);
		$("#field11").val(field11);
		$("#field12").val(field12);


		




		$('input').on('change', function() {
			// calculations function call here
		})

	})();
</script>



