<div class="container" style="padding-bottom: 100px;">

<div class="row">
	<div class="col-lg-8">
		<div class="pp-logo"><%= image_tag("PinPoint-Logo-500x132") %></div>
	</div>
	<div class="col-lg-4">
		<div class="row" style="margin-top:20px;">
			<div class="col-5 seismic-icon">
				<%= link_to image_tag("icon-seismic-new"), "https://ra.seismic.com/Link/Content/NCfFmqq4cMghGGFTPb6QjXp4B8bP", target: "_blank" %>
			</div>
			<div class="col-7" style="padding-top:20px;">
				<%= link_to "Seismic Launch Page", "https://ra.seismic.com/Link/Content/NCfFmqq4cMghGGFTPb6QjXp4B8bP", target: "_blank", style: "font-size:0.75em; color:inherit; font-weight:bold;" %>
			</div>
		</div>
	</div>
</div>
<hr style="margin-top: 20px; margin-bottom:55px;" />
<div class="row">
	<div class="col-md-6">
		<h3>ThinManager Logix PinPoint™</h3>
		<p><span class="bold">ThinManager Logix PinPoint™</span> adds amazing functionality for Rockwell Logix users. PinPoint does just what it says - it pinpoints the exact location in your Logix code that an alert or problem has occurred.</p>

		<div style="text-align: center;"><span style="font-size:.8em;">Watch to learn more</span></div>
		<div class="video-span">
			<!---------- Place Video Link Here ------------>
			<iframe width="560" height="300" src="https://www.youtube.com/embed/JJdAAUTJsws?controls=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>

		<h4 align="center" style="color:#999999; margin-bottom: 45px;">COMING JANUARY 2023</h4>
	</div>

	<div class="col-md-6">
		
		<h4>General Information</h4>

		<p>ThinManager Logix PinPoint is a new application working within ThinManager and the other software in your system to simplify the troubleshooting process when an alarm is seen within your FactoryTalk ViewSE application.</p>

		<ul>
			<li>You can automatically navigate to a given tag that has been triggered – very quickly get to that tag in the code and see the portion of the code that they had no part in writing 20+ years ago.</li>
			<li>We will take you to the point in the Logix code where that alarm has been triggered – giving your team the insights to see what caused the alarm and take action right away.</li>
			<li>This feature also allows employees with little to no coding knowledge to be directed right to the problem without having to manually scroll through several lines or rungs of code!</li>
		</ul>

		<br />
		<h5>What's Included?</h5>

		<ul>
			<li>Lightweight application installed on ThinManager server</li>
			<li>Studio 5000 View-Only License</li>
			<li>License sold per terminal</li>
		</ul>

	</div>
</div>


<div class="row" style="margin-top:55px;">
	<div class="howWorks"><%= image_tag("PinPoint_HowItWorks") %></div>
</div>


</div>