<div class="container">
<% if @channel == nil || @channel == "" %>
	<p>No Channel Defined</p>
	<p>Please <%= link_to "contact us", "mailto:bharned@thinmanager.com" %> to set your distribution channel for pricing.</p>
<% else %>
	<div class="row">
		<div class="col">
			<h1>ThinManager Pricing</h1>
			<p style="padding-left: 5px; margin-top: -7px;"><span style="font-weight:bold;">Channel:</span> <%= @channel %></p>
		</div>
		<div class="col tm-downloadables">
			<< Downloables Here >>
		</div>
	</div>
	 
	 <hr />



<% end %>
</div>