<div class="container" style="padding-bottom: 100px;">

<h1>Portal Reports</h1>
<hr />
<br />
	<div class="col">
		


		<div class="row">
			<h4>Users</h4>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="well centered">
					<h3>Total Users</h3>
					<h1 class="huge"><%= @users.count %></h1>
				</div>
			</div>
		</div>


		<div class="row" style="margin-top: 50px;">
			<h4>Certification</h4>
		</div>


		<div class="row" style="margin-top: 50px;">
			<h4>Learning</h4>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="well centered">
					<h3>Total Quizzes Taken</h3>
					<h1 class="huge"><%= @allquizzed.count %></h1>
				</div>
			</div>
		</div>


		<div class="row" style="margin-top: 50px;">
			<h4>Flex Forwards</h4>
		</div>


		<div class="row" style="margin-top: 50px;">
			<h4>QR Codes</h4>
		</div>
	


	</div>


</div>