<div class="tablets-page-content">

<%= render 'layouts/hardware-nav' %>




<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h3>ThinManager Ready Tablets</h3>
		</div>
	</div>
</div>	

<hr style="width: 98%; margin: auto; margin-bottom:12px; margin-top: 8px;" />







</div>