<div class="container" style="padding-bottom: 150px;">
	<h1>Uploaded Databases</h1>
	<%= link_to "AWS Console", "https://us-east-2.console.aws.amazon.com/console/home?region=us-east-2", target: "_blank", class: "btn btn-success" %>
	<hr />

	
	<% if @message && @objects.any? %>
		
		<div class="row" style="background-color: #f1f1f1; font-weight: bold; margin-bottom: 7px; padding-top: 5px; padding-bottom: 5px;">
			<div class="col-5">Filename</div>
			<div class="col-4">User</div>
			<div class="col-3">Date Modified</div>
		</div>

		<% @objects.each do | obj | %>
			
		

		<div class="row" style="margin-bottom: 7px;">
			<div class="col-5"><%= link_to "#{obj.key}", pages_download_lab_path(s3: @s3, bucket_name: @bucket_name, object_key: obj.key) %></div>
			<div class="col-4">Bryan Harned</div>
			<div class="col-3"><%= obj.last_modified.strftime("%m/%d/%Y") %></div>
		</div>









		<% end %>
	<% else %>
		<p>No Uploads in the AWS Bucket or no Bucket at all</p>
	<% end %>
</div>