<div class="container">

<h1>SI Re-Certification</h1>
<hr />

<p>This will be the page to show instructions on getting your recertification.  This is where we will have the powerPoint, PDF and video for review and new features before taking the quiz.</p>
<br /><br />
<%= link_to "Start Quiz", new_certification_path, class: "btn btn-primary", style: "float: right;" %>




</div>