<div class="container" style="padding-bottom:100px;">
<h1>ThinManager Terminals</h1>
<hr />

<% if @terminals.any? %>

	
	<% @terminals.each do |t| %>
		<% @Manufacturer = Manufacturer.find(t.ManufacturerId) %>
		<div class="row">
			<div class="col-sm-3"><%= @Manufacturer.Name %></div>
			<div class="col-sm-9"><%= t.TermcapModel %></div>
		</div>
	<% end %>


<% else %>

no

<% end %>

</div>