/* Styles CSS */


/**** Global ***/
.appear, .appear-sooner {
    display: none;
}
.goAway,
.goAwaySooner {
    display:inline;
}
.centered {
    text-align:center;
}
.well {
    background-color:#f1f1f1; padding: 15px;
}
.control-label {
    margin-bottom: -7px !important;
}
.right-to-center-button {
    text-align: right; margin-top: -50px;
}
.well-space {
    margin-bottom: 4px; padding:10px;
}
.delete-action {
    text-align: right;
}
.paginate {
    margin-bottom:45px;
}
ul.pagination {
    justify-content:center;
}
.well-sm {
    background-color:#f1f1f1; padding:5px; margin-bottom: 4px;
}




/** Rockwell Top Bar **/
.content-box {
    width:96%; padding:0px 2% 0px 2%; max-width:1100px; margin:auto;
    position:relative;  
}
.ra-top-bar {
    width:100%; position: relative; height:40px; background-color: #808285;
}
.ra-top-left {
    width:35%; min-width: 350px; max-width: 450px; height: 40px; background-color: #555555; margin-left: -20px;
    -webkit-transform: skew(-10deg); /* Safari */
    -moz-transform: skew(-10deg); /* Firefox */
    -ms-transform: skew(-10deg); /* Microsoft */
    -o-transform: skew(-10deg); /* Microsoft */
    transform: skew(-10deg); /* General */  
}
.ra-top-left .ra-links ul {
    list-style: none; height:30px; width:300px; padding-top: 5px;  
    float:right; margin-right: 15px;
    -webkit-transform: skew(10deg); /* Safari */
    -moz-transform: skew(10deg); /* Firefox */
    -ms-transform: skew(10deg); /* Microsoft */
    -o-transform: skew(10deg); /* Microsoft */
    transform: skew(10deg); /* General */   
}
.ra-top-left .ra-links ul li {
    float:left; padding: 4px 0px 4px 0px; width:100px;
    
}
#rockwell-logo {margin-top: -3px;}
#rockwell-software {width:125px; padding-top: 0px; height: 35px;}
.ra-top-left .ra-links ul li.divider-bar {
    width:4px !important; padding-left: 5px;
    font-size: 1.5em; color:#999999; margin-left: 7px;
    margin-right: 10px; padding-top: 0px;
    -webkit-transform: skew(-10deg); /* Safari */
    -moz-transform: skew(-10deg); /* Firefox */
    -ms-transform: skew(-10deg); /* Microsoft */
    -o-transform: skew(-10deg); /* Microsoft */
    transform: skew(-10deg); /* General */
}
.ra-top-left .ra-links ul li.divider-bar:hover {
    border-bottom:none;
}
.ra-top-left .ra-links ul li:hover {
    border-bottom:5px solid #118CBC;
}
.ra-top-left .ra-links ul a li img {
    width:90%; margin-left:5%;
}
.quick-nav-icons {
    position: absolute; height: 20px; width:105px;
    right:5px; top: -30px;
}
.quick-nav-icons a {text-decoration: none; color: inherit;}
.qn-icon {
    height:20px; width:20px; float:left; margin-right: 15px; background-size: contain;
}
.qn-icon-download {
    background-image:url("https://thinmanager.com/images/icon-downloads.png"); 
}
.qn-icon-download:hover {
    background-image:url("https://thinmanager.com/images/icon-downloads-blue.png"); 
}
.qn-icon-search {
    background-image:url("https://thinmanager.com/images/icon-search.png"); 
}
.qn-icon-search:hover {
    background-image:url("https://thinmanager.com/images/icon-search-blue.png"); 
}
.qn-icon-questions {
    background-image:url("https://thinmanager.com/images/icon-questions.png");
}
.qn-icon-questions:hover {
    background-image:url("https://thinmanager.com/images/icon-questions-blue.png");
}
/** Rockwell Top Bar **/



/*************** Main Nav ******************/
.main-nav {
    position:relative; width:100%; top: -6px; 
    background-color: #084673 !important; color:#FFFFFF !important;
    margin-bottom: 35px;
}
.main-nav ul a {color: #FFFFFF !important;}
.main-nav ul a.dropdown-item {color: #272727 !important;}
.navbar-toggler .navbar-roggler-icon {border-color:#FFFFFF !important;}
.main-nav .nav-right-options {
    position:absolute; left:-160px; margin-top:0px;
}
.main-nav .nav-right-options li a {color: #272727 !important;}

button.navbar-toggler span {
    /*overwriting*/
    color: #FFFFFF !important;
}
.burger {
    margin-right:7px;
}
.admin-menu li a {
    color:#272727 !important;
}
.nav-divider-horizatonal {
    height:30px; width:2px; background-color: #f1f1f1; margin-left: 25px; margin-right: 25px;
    margin-top: 5px; opacity: .3;
}




/********************** Home Page / Dashboard **************************/

.hp-cards .card-img-top {
    /*max-height: 200px;*/
}
.hp-cards .card {
    margin-bottom: 35px;
}
.inside-sales-pic img {
    width:100%; max-width: 400px;
}
.dist-logo {text-align: right;}
.dist-logo img {width:100%;}






/****************************** User Pages and Filtering ***********************/
.user-sorting {
    margin-top: -12px;
}
.user-sorting li {
    border-right:1px solid #e1e1e1;
}
.user-sorting li:last-child {
    border-right:0px;
}
.user-sorting li a {
    color:inherit;
}
.user-sorting li a:hover {
    text-decoration: underline;
}









/*********************** Pricing Page ****************************/
.tm-downloadables {
    text-align: right;
}
.pricing-nav {
    background-color: #f1f1f1; max-width: 95%;
    color: #515151; margin-bottom: 5px; 
}
.pricing-nav:hover {
    background-color: #e1e1e1;
}
.pricing-nav a {
    color:#717171 !important;
}
.section-heading {
    background-color: #f1f1f1; padding: 10px 15px; border-bottom: 3px solid #003366; 
    margin-top: 50px;
}
.product-wrapper {
    margin-bottom: 20px; border-bottom: 2px solid #b1b1b1; 
}
.pricing-section .product-wrapper:last-child {
    border-bottom: 0px;
}
.tm-product,
.tm-product-2  {
    padding-top: 25px; padding-bottom: 25px;
}
.tm-product-2 {
    background-color: #f1f1f1; margin-bottom: 0px;
}
.product-title {
    font-weight: bold; color:#003366; margin-bottom: 7px; font-size: 1.13em;
}
.pr-description-bold {
    font-weight: bold;
}
.product-description {

}
.product-sub-title {
    color:#FFFFFF; font-size: 1.1em;
}
.border-right {border-right: 1px solid #d1d1d1;}
.bold {font-weight: bold;}
.tm-downloadables img {
    max-width: 50px;
}
.col-downloads .row {
    width:120px; text-align:center; float:right;
}



/************************ New Pricing Page 2019 *************************/
/* 
Light Blue: #a7d9f8; 
Dark Blue: #3fa0dd; 
Very Light Blue: #e9f7fb;
 */
.pricing-instruction {
    width:100%; padding:20px 2.5%; background-color:red; color:white;
    margin-top:65px; border:5px solid #b90c0c;
}
.pricing-instruction p {
    font-size:.75em;
}
.pricing-instruction p:last-child {
    margin-bottom:0px;
}
.pricing-instruction a {
    color:yellow; text-decoration: underline;
}
.section {
    width:96%; margin: auto; margin-top: 55px; 
}
.sect-heading {
    font-size: 1.25em; text-align: center; padding: 3px 0px; 
    margin-bottom: 0; color:003366 !important; position: relative;
}
.sect-heading span {
    font-size:.9em; font-weight:bolder; color:#000000;
}
.more-info, .more-info-2, .more-info-3, .more-info-4 {
    position:absolute; width:20px; height: 20px; border-radius: 50%; background-color: #F1f1f1;
    right:15px; cursor: pointer;
}
.more-box {
    position: absolute; width:300px; padding:10px; background-color: #f1f1f1;
    color:#272727; font-size: .65em; right:7px; top: 42px; border:5px solid #9E9E9E;
    display:none;
}
.more-box .up-triangle { width:20px; height:12px; position:absolute; top:-17px; right:2.5px;}
.more-box .up-triangle img {width:100%;}
.more-box ul {
    margin-left:-27px; text-align: left;
}
.more-box ul li {margin-bottom:5px;}
.close-this p {margin-bottom: 0px; cursor:pointer; text-align: right;}
.close-this p:hover {text-decoration: underline;}
.sub-section-divider {
    margin: auto; margin-top:-35px; margin-bottom: 100px; width:65%;
}
.pricing-grid {
    width:75%; margin-top: 70px; margin-bottom: 150px;
}
.pricing-grid .sect-heading {
    background-color:#3fa0dd; color:#FFFFFF; /*font-size:1em;*/ padding: 10px 0px;
}
.pricing-grid .sect-sub-heading {
    font-size:.9em; padding: 5px 0px; font-weight:bold;
}
.pricing-grid .sect-sub-heading span {
    font-weight:lighter;
}
.sect-sub-heading {
    font-size: 1em; text-align: center; padding: 3px 0px; background-color:#a7d9f8; 
    margin-bottom: 0;
}
.part-row, .part-heading {
    position:100%; display:flex; flex-direction: row; justify-content: flex-start;
    align-items: stretch; flex-wrap: wrap; font-size:.85em;
}
.part-heading {
    background-color: #b3b3b4; font-weight:bold;
}
.part-row:nth-child(even) {
    background-color: #f1f1f1;
}
.pricing-grid .part-row:nth-child(even) {
    background-color: #e9f7fb;
}
.for-above {
    text-align: right !important; font-size: 1.25em; font-weight: lighter;
}


.cat-number {width:18%; padding: 1px 0.5%; border-right:1px inset #C2C2C2;}
.prt-description {width:34%; padding: 1px 0.5%; border-right:1px inset #C2C2C2;}
.prt-list-price {width:9%; padding: 1px 0.5%; border-right:1px inset #C2C2C2;}
.prt-mrg-prct {width:9%; padding: 1px 0.5%; border-right:1px inset #C2C2C2;}
.prt-mrg {width:9%; padding: 1px 0.5%; border-right:1px inset #C2C2C2;}
.prt-cost {width:9%; padding: 1px 0.5%; border-right:1px inset #C2C2C2;}
.usd {width:4%; padding: 1px 0.5%; border-right:1px inset #C2C2C2; text-align: center;}
.usd:last-child {border-right:0px;}


.term-count {width:20%; border-right:1px inset #C2C2C2; padding:1px 0 1px 1%;}
.perpetual-p-chart .term-count {width:15%;}
.list-price-per {width:25%; border-right:1px inset #C2C2C2; padding:1px 0 1px 1%;}
.perpetual-p-chart .list-price-per {width:20%;}
.red-adder {width:25%; border-right:1px inset #C2C2C2; padding:1px 0 1px 1%;}
.perpetual-p-chart .red-adder {width:20%;}
.break-point {width:15%; padding:1px 0 1px 1%;}
.perpetual-p-chart .break-point {width:12%; border-right:1px inset #C2C2C2; padding:1px 0 1px 1%;}
.perpetual-p-chart .sm-renewal {width:20%; padding:1px 0 1px 1%; border-right:1px inset #C2C2C2;}
.pricing-grid .usd {font-size: .8em; padding-top: 2px;}

.training-more-info {
    width:100%; max-width: 500px; margin: auto; padding: 20px 1.5%;
    background-color: #a7d9f8; border-radius: 10px; margin-top: 70px;
    border:5px solid #7FCFF7; color:#FFFFFF;
}
.training-more-info h6 {
    margin-bottom: 2px; color:#000000;
}
.flex-boxes {
    position:100%; display:flex; flex-direction: row; justify-content: flex-start;
    align-items: stretch; flex-wrap: wrap; 
}
.flex-box-left {
    width:70%;
}
.flex-box-left p {
    font-size:.7em; line-height: 1em; margin-bottom: 10px; color:#272727;
}
.flex-box-right {
    width:30%;
}
.red {color:red;}














/**************************** V-FLEX Page ****************************/
.video-webinar {
    width:100%; max-width: 850px; 
    margin: auto; margin-bottom: 55px; margin-top: 60px; 
    border:2px solid #000000;
    position: relative;
    padding-bottom: 45%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-webinar iframe,
.video-webinar object,
.video-webinar embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



/********************** Flex Forward Page **********************/

#flex-forward-table {
    margin-top: 55px; font-size: .75em;
}
#flex-forward-table .form-control-sm {
    padding:0px 5px;
}
#flex-forward-table tr td {
    vertical-align: middle;
}
.ff-top-logo {
    max-width:400px;
}
.ff-top-logo img {max-width:100%; margin:auto;}









/******************************* User Show Page *************************/
.user-show-well {
    padding-left: 40px; padding-right: 40px; border-radius:10px;
}













/******************************* Documents Page *************************/
.document-table {
    border:1px solid #e1e1e1;
}
.document-table .row {
    padding: 10px; margin-left: 0px; margin-right: 0px;
}
.document-table .even {
    background-color: #e1e1e1;
}














/************************ Footer Specific CSS *************************/
.footer-text {
    font-size:.85em;
}
#footer a {
    color:#FFFFFF;
}
#footer {
    width:100%; background-color:#323232;  border-top:thin solid #5C5C5C;
    font-family: 'Roboto', sans-serif; color:#ffffff; min-height:330px; 
    padding-bottom:65px;
}
.lower-footer-boxes h4 {
    line-height:30px !important; color:#878686;
}
.lower-footer-boxes p {
    color:#D1CFCF; padding-left: 35px; 
    padding-right:35px; font-size: .85em;
}
.lower-footer-boxes a {
    color:#D1CFCF; text-transform:uppercase; font-weight:500;  
}
.lower-footer-boxes .lower-foot-box {
    border-right:1px solid #878686; min-height: 120px;
}
.lower-footer-boxes .lower-foot-box:last-child {
    border-right:none;
}
.footIcon1 {
    background-color:#00457c; width:45px; height:45px; border-radius:50%;
    margin-bottom: 10px;
}
.footIcon1:hover {
    -webkit-box-shadow:0px 0px 12px 2px #02A5F7;
    -moz-box-shadow:0px 0px 12px 2px #02A5F7;
    -ms-box-shadow:0px 0px 12px 2px #02A5F7;
    -o-box-shadow:0px 0px 12px 2px #02A5F7;
    -chrome-box-shadow:0px 0px 12px 2px #02A5F7;
    box-shadow:0px 0px 12px 2px #02A5F7;    
}
/* Disclaimer box css */
#disclaimer {
    width:100%; background-color:#000000; padding-top:15px; padding-bottom: 25px; margin-bottom: -20px !important;
    color:#666666; 
}
.disLogo {
    opacity:.4; margin-bottom: 25px; margin-top:-6px;
}
#disclaimer ul.nav a {
    color:#666666;
}
#disclaimer ul.nav a:hover {
    background-color:transparent; color:#FFFFFF;
}
/************************ END Footer Specific CSS *************************/












@media screen and (max-width:992px) {
    .goAwaySooner {
        display:none;
    } 
    .appear-sooner {
        display:inline;
    }
    .lower-footer-boxes .lower-foot-box {
        border-right:none;
    }
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
    .nav-divider-horizatonal,
    .horizontal-divider {
        display:none;
    }
    .section {
        width:100%; margin: auto; margin-top: 55px; 
    }
    .parts {
        font-size: .75em;
    }
    .part-row {
        font-size: .5em;
    }
    .sub-section-divider {
        margin: auto; margin-top:100px; 
    }
}

@media screen and (max-width:767px) {
    .appear {
        display:inline;
    }
    .goAway {
        display:none !important;
    }
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
    .border-right {border-right: 0px !important;} 
    .col-downloads .row {
        float:none; margin: auto;
    }
    .inside-sales-pic {
        margin-bottom: 25px;
    }
    .right-to-center-button {
        margin-top: 25px;
    }
    .dist-logo {display: none;}
    .ff-top-logo {
        max-width:100%;
    }
    .ff-top-logo img {width:90%; max-width:400px; margin:auto;}
}



