<div class="container" style="padding-bottom: 75px;">
<div class="row">	
	<div class="col-md-9">
		<h1>Categories</h1>
	</div>
	<div class="col-md-3">
		<div class="add_currency_btn"><%= link_to "Add Category", new_category_path, class: "btn btn-primary" %></div>
	</div>
</div>
<hr />




</div>