<div style="width: 98%; margin: auto; margin-top: -25px;">

	<div class="row">
		<div class="col-sm-9">
			<h3 style="margin-bottom:0px;">ThinManager Hardware</h3>
		</div>
		<div class="col-sm-3">
			<% if logged_in? && (current_user.admin? || current_user.hw_admin?) %>
				<%= link_to "Add Hardware", new_hardware_path, class: "btn btn-sm btn-primary float-right" %>
			<% end %>
		</div>
	</div>

	<hr />



	<div class="row hardware-container">
		<div class="col-3 side-filters">
			Side Filters
		</div>
		<div class="col-9">
			Hardware Results
		</div>
	</div>


</div>