<div class="container" style="padding-bottom: 100px;">

	<h1><%= @hardware.model %></h1>

	<hr />
	<div class="col">
		<h5>Manufactured by</h5>
		<h4><%= @hardware.maker.name %></h4>
		<br /><br /><br /><br /><br />
		<hr />
		<h5>Notes</h5>
		<p><%= @hardware.note %></p>
	</div>
</div>