<div class="row" style="padding-left: 7px; margin-bottom: 5px; font-weight:bold;">		
	<div class="col-sm-5">
		<%= link_to "Name", url_for( :sort => 'name' ), style: "color:inherit;", class: "dropdown-toggle" %>
	</div>
	<div class="col-sm-3">
		<%= link_to "URL", url_for( :sort => 'url' ), style: "color:inherit;", class: "dropdown-toggle" %>
	</div>
	
	
</div>