<div class="well ff-well-style-transparent">
<div class="row">
	<div class="col-lg-4"><%= link_to "Company Name", flexforward_byname_path, style: "color:inherit;" %></div>
	<div class="col-lg-2"><%= link_to "Total Quote", flexforward_totals_path, style: "color:inherit;" %></div>
	<div class="col-lg-2"><%= link_to "Created", flexforward_bydate_path, style: "color:inherit;" %></div>
	<div class="col-lg-2"><%= link_to "User Name", flexforward_byuser_path, style: "color:inherit;" %></div>
	<div class="col-lg-1"></div>
	<div class="col-lg-1"></div>
</div>
</div>