<div class="well ff-well-style-transparent">
<div class="row">
	<div class="col-sm-4"><%= link_to "Company Name", flexforward_byname_path, style: "color:inherit;" %></div>
	<div class="col-sm-3"><%= link_to "Total Quote", flexforward_totals_path, style: "color:inherit;" %></div>
	<div class="col-sm-3"><%= link_to "Partner/User's Name", flexforward_byuser_path, style: "color:inherit;" %></div>
	<div class="col-sm-1"></div>
	<div class="col-sm-1"></div>
</div>
</div>