<div class="well ff-well-style-transparent">
<div class="row">
	<div class="col-sm-4"><%= link_to "Company Name", flexforward_userbyname_path, style: "color:inherit;" %></div>
	<div class="col-sm-3"><%= link_to "Total Quote", flexforward_usertotals_path, style: "color:inherit;" %></div>
	<div class="col-sm-3">Partner/User's Name</div>
	<div class="col-sm-1"></div>
	<div class="col-sm-1"></div>
</div>
</div>