<div class="well ff-well-style-transparent">
<div class="row">
	<div class="col-sm-4">Company Name</div>
	<div class="col-sm-3">Total Quote</div>
	<div class="col-sm-3">Partner/User's Name</div>
	<div class="col-sm-1"></div>
	<div class="col-sm-1"></div>
</div>
</div>