<div class="container">

<div class="row">
	<div class="col-sm-9">
		<h1><%= @flex.name %></h1>
		<h5 style="color:grey; margin-top: -7px;">Flex Forward Calculated Quote</h5>
	</div>
	<div class="col-sm-3">
		<div class="edit_ff_btn"><%= link_to "Edit Quote", edit_flexforward_path(@flex), class: "btn btn-primary" %></div>
	</div>
</div>

<hr />

</div>