<div id="footer">
 <div class="container">
     <div class="row" style="padding-top:70px;">
         <div class="col-md-6 upper-foot-box">
            <img src="https://www.thinmanager.com/images/thinmanager-web-logo_foot.png" width="217px" height="30" alt="ThinManager Logo" style="margin-bottom: 15px;" />
            <h3>The Global Leader</h3>
            <p>ThinManager<span style="vertical-align:super; font-size:.75em;">&reg;</span> is the global leader in the automation industry that provides full-feature centralized thin client and terminal server management.  Our unique software platform offers trendsetting, centralized management solutions for a modern industrial environment.</p>
         </div>
         <div class="col-md-2 col-md-offset-1 upper-foot-box">
             <a href="http://www.thinmanager.com/products/thinmanager.php" style="border:0; text-decoration:none;">
            <div class="footIcon1">
                <img src="https://www.thinmanager.com/images/literature.png" width="45" height="45" alt="reference icon" />
            </div></a>
            <h4>Want More?</h4>
            <p class="footer-text">ThinManager has many resources to help you decide, deploy &amp; manage your modern facility. &nbsp; 
            <a href="http://www.thinmanager.com/products/thinmanager.php">More &raquo;</a></p>
         </div>
         <div class="col-md-2 upper-foot-box">
             <a href="http://www.thinmanager.com/support" style="border:0; text-decoration:none;">
            <div class="footIcon1">
                <img src="https://www.thinmanager.com/images/wireless.png" width="45" height="45" alt="tech and wireless icon" />
            </div></a>
            <h4>We Talk Tech:</h4>
            <p class="footer-text">Our team is ready to help in whatever way is convenient for you. &nbsp;
            <a href="http://www.thinmanager.com/support">More &raquo;</a></p>
         </div>
         <div class="col-md-2 upper-foot-box">
             <a href="http://cta-redirect.hubspot.com/cta/redirect/87975/878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a" style="border:0; text-decoration:none;"">
            <div class="footIcon1">
            <img src="https://www.thinmanager.com/images/contacts-48.png" width="45" height="45" alt="person icon" /></div></a></span></span>
            <h4>Stay In Touch:</h4>
            <p class="footer-text">We send out quarterly newsletters. We promise to not flood your inbox.</p>
            <!--HubSpot Call-to-Action Code -->
                <span class="hs-cta-wrapper" id="hs-cta-wrapper-878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a">
                    <span class="hs-cta-node hs-cta-878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a" id="hs-cta-878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a">
                        <!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]-->
                        <a href="http://cta-redirect.hubspot.com/cta/redirect/87975/878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a">
                        <img class="hs-cta-img" id="hs-cta-img-878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a" style="border-width:0px; padding:10px 20px; font-size:1em;" 
                        src="https://no-cache.hubspot.com/cta/default/87975/878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a.png" /></a>
                    </span>
                    <script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script>
                        <script type="text/javascript">
                            hbspt.cta.load(87975, '878c86cd-5ce5-4799-8d4a-2b4b2d4aa93a');
                        </script>
                </span>
         </div>
     </div>

     <div class="row lower-footer-boxes" style="padding-top:50px;">
         <div class="col-md-3 lower-foot-box">
             <h4><img src="https://www.thinmanager.com/images/trainingIcon.png" width="30" height="30" alt="training icon" /> Training</h4>
             <p>Need training? Or certification? Look at some of our classes. <a href="http://www.thinmanager.com/training"> More&nbsp;&raquo;</a></p>
         </div>
         <div class="col-md-3 lower-foot-box">
             <h4><img src="https://www.thinmanager.com/images/nuclear.png" width="30" height="30" alt="services icon" /> Services</h4>
             <p>ThinManager offers several services to get your facility up and running.</p>
         </div>
         <div class="col-md-3 lower-foot-box">
             <h4><img src="https://www.thinmanager.com/images/supportIcon.png" width="30" height="30" alt="support Icon" /> Support</h4>
             <p>Need some help? Our tech support staff is here for you! <a href="http://www.thinmanager.com/support"> Get&nbsp;Help&nbsp;&raquo;</a></p>
         </div>
         <div class="col-md-3 lower-foot-box">
             <h4><img src="https://www.thinmanager.com/images/knowledgeIcon.png" width="30" height="30" alt="knowledge base icon" /> Knowledge Base</h4>
            <p>Bookmark worthy for beginners and powerusers alike. Find answers 
            <a href="http://www.thinmanager.com/kb/index.php/Special:AllPages"> Here&nbsp;&raquo;</a></p>
         </div>
     </div>
 </div>
 </div>

 <div id="disclaimer">
 <div class="container">
 <div class="row">
     <div class="col-md-4 disLogo" style="padding-top:10px;">
        <img src="https://www.thinmanager.com/images/thinmanager-web-logo.png" width="196" height="31" alt="ThinManager" />
     </div>
     <div class="col-md-8">
        <ul class="nav navbar navbar-right">
            <li><a href="http://www.thinmanager.com/acp/aboutus.php">About</a></li>
            <li><a href="http://www.thinmanager.com/media">Media</a></li>
            <li><a href="http://www.thinmanager.com/support">Support</a></li>
            <li><a href="http://www.thinmanager.com/partners">Partners</a></li>
            <li><a href="http://www.thinmanager.com/acp/careers.php">Careers</a></li>
            <li><a href="http://www.thinmanager.com/acp/privacy_terms.php">Privacy &amp; Terms</a></li>
        </ul>
     </div>
 </div>
 <hr style="margin-top:4px; border-color:#999999; margin-bottom: 5px;" />
    <p>&copy; 2018 Rockwell Automation</p>
</div>
 </div>