

<div id="footer">
    <div class="max-width1400">
        <div class="flex-foot">
            <div class="foot-box footer-left">
                <div class="foot-logo"><img src="https://thinmanager.com/images/ThinManagerLogo2021_white600x94.png" alt="ThinManager Logo" /></div>
                <h1>The Global Leader</h1>
                <p>ThinManager<span style="vertical-align:super; font-size:.75em;">&reg;</span> is the global leader in the automation industry, providing full-feature centralized thin client and remote desktop server management. Our unique software platform offers secure, centralized visualization and content delivery management solutions for modern industrial environments.</p>
            </div>
            <div class="foot-box">
                <ul>
                    <li>
                        <div class="flex-container-topfoot">
                            <div class="flex-unit">
                                <img src="https://thinmanager.com/images/icon-productProfile.png" alt="ThinManager Product Profile" />
                            </div>
                            <div class="flex-unit">
                                <h3>Product Profile</h3>
                                <p>Immerse yourself in this overview of the ThinManager platform. Learn about the latest  features as well as the staples that make ThinManager a trusted solution for modern industrial deployments. &nbsp;<a href="https://thinmanager.com/profile/">MORE &raquo;</a></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="flex-container-topfoot">
                            <div class="flex-unit">
                                <img src="https://thinmanager.com/images/icon-knowledgeBase.png" alt="ThinManager Knowledge Base" />
                            </div>
                            <div class="flex-unit">
                                <h3>Knowledge Base</h3>
                                <p>The ThinManager Knowledge Base has answers to most of the questions that may arise while configuring ThinManager. Find solutions from previous versions up to the latest release. &nbsp;<a href="https://rockwellautomation.custhelp.com/" target="_blank">MORE &raquo;</a></p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="flex-container-topfoot">
                            <div class="flex-unit">
                                <img src="https://thinmanager.com/images/icon-licensing.png" alt="ThinManager Licensing" />
                            </div>
                            <div class="flex-unit">
                                <h3>Licensing</h3>
                                <p>Regardless of what you need to do with your ThinManager license, whether it’s activation, transferring licenses or updating information—this is the place to start. &nbsp;<a href="https://thinmanager.com/licensing/">MORE &raquo;</a></p>
                            </div>
                        </div>
                    </li>
                </ul>           
            </div>
        </div>
    </div>
</div>                    
        
 <div id="disclaimer">
        <div id="disclaimerInfo">
                
            <div class="flex-container-foot">
                <div class="dis-flex-box">&copy; 2022 Rockwell Automation, Inc.</div>
                <div class="dis-flex-box">
                    <ul>
                     <li><a href="https://thinmanager.com/corp/aboutus.php">About</a></li>
                     <li><a href="https://www.rockwellautomation.com/global/legal-notices/overview.page" target="_blank">Privacy &amp; Terms</a></li>
                    </ul>
                </div>
            </div>
            
        </div>
 </div>



