<div class="ra-top-bar">
    <div class="ra-top-left">
      <div class="ra-links">
        <ul>
          <a href="http://www.rockwellautomation.com" target="_blank"><li id="rockwell-logo"><img src="https://thinmanager.com/images/RA-topbar-logo.png" alt="Rockwell Automation" /></li></a>
          <li class="divider-bar">|</li>
          <a href="http://www.rockwellautomation.com/rockwellsoftware/overview.page" target="_blank"><li id="rockwell-software"><img src="https://thinmanager.com/images/RASoftware-topbar.png" alt="Rockwell Software" /></li></a>
        </ul>
      </div>
    </div>
    <div class="content-box">
      <div class="quick-nav-icons">
        <a href="https://downloads.thinmanager.com"><div class="qn-icon qn-icon-download"></div></a>
        <a href="http://www.thinmanager.com/search.php"><div class="qn-icon qn-icon-search"></div></a>
        <a href="http://www.thinmanager.com/corp/contactus.php"><div class="qn-icon qn-icon-questions"></div></a>
      </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light main-nav">
  <div class="logo">
      <%= link_to image_tag("thinMan.png"), root_path %>
  </div>
  <button class="navbar-toggler navbar-toggler-right navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" style="background-color:#E1E1E1;">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="goAwaySooner">
    <ul class="nav navbar-nav navbar-right">
      <li style="font-style:italic; padding-right:50px; font-size: .85em;"><a href="mailto:bharned@thinmanager.com?subject=Video Learning Issue Report"">Having technical issues?</a></li>
      <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="appear">Support </span><span class="goAway glyphicon glyphicon-option-vertical" aria-hidden="true"></span> <span class="appear"><span class="caret"></span></span></a>
            <ul class="dropdown-menu nav-right-options">
              <li><a class="dropdown-item" href="http://www.thinmanager.com">ThinManager.com</a></li>
              <li><a class="dropdown-item" href="http://www.thinmanager.com/support/">ThinManager Support</a></li>
              <li><a class="dropdown-item" href="http://www.thinmanager.com/acp/contactus.php">Contact Us</a></li>
            </ul>
          </li>
    </ul>
  </div>
</nav>